/*lesson 12-13*/
#slider{
	width: 384px;
	height: 128px;
	border: 5px solid black;
	margin: 50px auto;
	overflow: hidden;
}

#polosa{
	/*background-color: red;*/
	width: 896px;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

#polosa img{
	float: left;
}

#polosa::after{
	content: "";
	display: block;
	clear:both;
}
h1{
	color: rgba(20, 89, 255, 0.7);	
}